@import "./base/variables";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./layout/trabajos";

.body{
    width: 100%;
    height:100%;
    background-color: black;
    margin-left: 2px;
}
.subt{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-style: italic;
    font-weight: 500;
    opacity: 0;
    animation: subt 2s infinite;
}
@keyframes subt {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.titulo{background-color: rgba(79, 62, 233, 0.342);}
.limpieza{margin: 10px;}