h1,h2,h3,h4,h5,h6{color: rgb(35, 240, 7);}
.bigote{
    opacity: 0.8;
    width: 98%;
    height: 50vh;
    background-image: url(../imagenes/corsafrente.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1px;
    margin:1px;
    border: 2px solid $colormarillo;
    transition: all 3s;
    margin-bottom: 5px;
}
@media only screen and (min-widht:1200px){
    .bigote {
        width: 10%;
    }
}