%extenmain{ 
     opacity: 0.8;
    width: 98%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1px;
    margin: 1px;
    border: 2px solid $colormarillo;
    transition: all 4s;
    margin-bottom: 10px;}
.tratamientos{
   @extend %extenmain;
    background-image: url(../imagenes/2.jpeg);
   
    h2{opacity: none;}
}

.Limpieza{  
   @extend %extenmain;
    background-image: url(../imagenes/interior.jpg);
   
}
.Escaner{ 
   @extend %extenmain;
    background-image: url(../imagenes/ESCANER.jpeg);
  
    h3{opacity: 1.0;}
}
.Chaperia{
    @extend %extenmain;
      background-image: url(../imagenes/1p.jpeg);
    
      h4{opacity: 1.0;}
  }
.botonA{
    background-color:rgb(79, 62, 233, 0.342) ;
    color: rgba(255, 255, 0);
    border-radius: 20%;
    transition: width 0.5s ease, bacground-color 1s ease; color: 0.5s ease;
}
.botonA:hover {
    width: 200px;
    background-color: rgb(200, 255, 0);
    color:rgba(1, 0, 8, 0.932) ;
}

.parrafo{color: rgb(43, 255, 0);}
*{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}